extends layout

block content
  div.wrapper
   div.main.main-raised
    .section.section-basic
     .container

      h1 #{__('Block')}
      h3 Cos'è un Blocco?
      p Un blocco è semplicemente un hash come quello nella scorsa pagina in cui i dati anzichè essere un unico testo, sono più elementi.
      p Nel caso di un blocco gli elementi sono il numero del blocco, il nonce e i dati che vogliamo inserire.

      p Prova a scrivere qualcosa e a schiacciare il tasto "Mina".
      .well#block1chain1well
        form.form-horizontal

         .form-group
           label.col-sm-2.control-label(for='block1chain1number') #{__('Block')}:
           .col-sm-10
             .input-group
               span.input-group-addon #
               input#block1chain1number.form-control(type='text', value='1' onkeyup='updateHash(1, 1);')

         .form-group
           label.col-sm-2.control-label(for='block1chain1nonce') #{__('Nonce')}:
           .col-sm-10
              input#block1chain1nonce.form-control(type='text', value='72608', onkeyup='updateHash(1, 1);')

         .form-group
           label.col-sm-2.control-label(for='block1chain1data') #{__('Data')}:
           .col-sm-10
             textarea#block1chain1data.form-control(rows='10', onkeyup='updateHash(1, 1);')

         #state.form-group
           label.col-sm-2.control-label(for='block1chain1hash') #{__('Hash')}:
           .col-sm-10
             input#block1chain1hash.form-control(type='text', disabled)

         .form-group
           .col-sm-2
             i.icon-spinner.icon-spin.icon-large
           .col-sm-10
             button#block1chain1mineButton.btn.btn-primary.ladda-button(data-style='expand-right')
               span.ladda-label #{__('Mine')}
      .container
          h2 Cosa sta succedendo?
          p Se provi a scrivere qualcosa l'hash cambia e il blocco diventa rosso. Questo perchè nell'hash i primi quattro caratteri cambiano e non sono più "0000". 
          p Quando schiacci "Mina" con i nuovi dati inseriti però dopo un po' di tempo noti che il Nonce e l'hash cambiano e il blocco è verde perchè l'hash comincia con "0000".
          p In parole povere quello che succede "minando" è che il computer prova tanti numeri diversi nel campo del Nonce cercando di trovare un numero che restituisca un hash che cominci con quattro zeri. Quando ci riesce salva il Nonce e si illumina di verde.
   
  .footer.container
    .copyright
     p.pull-right
      a(href='./blockchain') Prossima Sezione
     br
     br
   
   script.

    $(function() {
      mineButtonAnimation(1, 1);
      updateHash(1, 1);
    });

    function getText(block, chain) {
      return $('#block'+block+'chain'+chain+'number').val() +
             $('#block'+block+'chain'+chain+'nonce').val() +
             $('#block'+block+'chain'+chain+'data').val();
    }

    function mineButtonAnimation(block, chain) {
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, false);
              l.stop();
            }, 250); // give UI time to update
        });
    }
